/kivy_venv/
__pycache__
/windows/build
/windows/dist
build
.buildozer
/linux/build
/linux/dist
/linux-appimage/AppDir
/linux-appimage/appimage-build
/linux-appimage/*.AppImage
/linux-appimage/*.zsync
linux-flatpak/.flatpak-builder
linux-flatpak/build-dir
key.keystore